input,select,button{
    margin-top: 10px;
}
.row{
    margin-top: 50px;
    margin-left: 15%;
}
input, select{
    width: 245px;
    /* border-radius: 5px; */
}
.resultHistory{
    border: 1px solid black;
    border-collapse: collapse;   
}
.thin{
    width: 250px;
    text-align: center;
}